.title-wrap {
    font-size: 24px;
    height: 60px;
    width: 100%;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    /* background-color: #f5f5f5; */
}

.title-wrap .page-title {
    padding-left: 1em;
}

.input-patient {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.patient-wrap {
    margin: 24px;
}

.wrap-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
}

.patient-card {
    width: 80%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    margin: 0 auto;
    margin-bottom: 18px;
    text-align: center;
}

.patient-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patient-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patient-info p {
    margin: 0;
    font-size: 16px;
}

.patient-info strong {
    font-size: 18px;
}
a{
    color: inherit;
        /* blue colors for links too */
        text-decoration: inherit;
}