.doctor-select-container {
    position: relative;
    width: 100%;
    /* height: 40px; */
    /* overflow: hidden; */
}

.doctor-select-container input {
    width: 96%;
    height: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.doctor-select-container select {
    width: 100%;
    position: absolute;
    top: 40px;
    /* Chiều cao của input */
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}