/* ThanhToanCard.css */
.thanhtoan-container{
    width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}


/* .thanh-toan-card:hover {
    transform: scale(1.05);
    transition: border-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.thanhtoan-header {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    align-items: center;
    /* font-weight: bold; */
}

.thanh-toan-card.expanded {
    border-color: #3498db;
}

.thanhtoan-details {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.btn-thanh-toan {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.btn-thanh-toan:hover {
    background-color: #1f6da0;
}

.thanh-toan-data{
    width: 90%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.thanh-toan-card {
    border: 1px solid #dadada;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
    width: 100%;
}

.thanhtoan-search-container {
    margin-top: 3%;
}