/* EmployeeSidebar.css */
.sidebar {
    width: 17%;
    border-right: 1px solid #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    font-size: 22px;
    height: 100%;
    /* padding-top: 4vh; */
    /* padding-bottom: 2vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    /* border-bottom: 1px solid #E0E0E0; */
}

.nav {
    width: 100%;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    margin-bottom: 2px;
    text-align: center;
}

.navLink {
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    padding: 8px 0;
    display: block;
    width: 100%;
}

.navLink:hover {
    color: #007bff;
}

.navLink.selected {
    border-left: 3px solid #3367D6;
    background-color: #F0F5FE;
    color: #1C3AA9;
    font-weight: 500;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.title {
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    display: block;
    width: 100%;
}

.navItem {
    width: 100%;
}

.sidebar-title-wrap {
    width: 100%;
    border: 1px solid #E0E0E0;
}